{% extends "layout.njk" %}

{% block content %}

<!-- Creating the navigation with activePage = 'home' -->
{% import 'macros/nav-macro.njk' as nav %}

{{nav.active('about')}}

<h2>About</h2>

{% endblock %}
