{% extends "layout.njk" %}

{% block left %}

<img class="map" src="static/img/left-map.png">
{% endblock %}

{% block content %}

<!-- Creating the navigation with activePage = 'home' -->
{% import 'macros/nav-macro.njk' as nav %}

{{nav.active('ask-for-routes')}}
<div class="clients main l2">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="title">Ask For Routes</h1>
    </div>
    <div class="col-md-10 col-md-offset-1 l3 text-center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe2jILgD0K8zK0_qug6aaIUrpLfAcDnOgxDA9SEGnHR7DLelQ/viewform?embedded=true"  width="100%" height="1118" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>

</div>
{% endblock %}
