{% extends "layout.njk" %}


{% block left %}
{% include "partials/left-main.njk" %}
{% endblock %}

{% block content %}

<!-- Creating the navigation with activePage = 'home' -->
{% import 'macros/nav-macro.njk' as nav %}

{{nav.active('awards')}}

<div class="awards main l2">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="title">Awards</h1>
        <div class="col-md-10 col-md-offset-1" style="margin-top: 40px">
            <div class="col-md-10 col-md-offset-1 l3 text-center">
                <img class="img-light" src="static/img/clients/startup-karnataka.png" width="160"/>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 l3 text-center" style="margin-top: 40px">
            <p class="text-center">Chartr was recently adjudged as one of the one top startups at the <a
                    href="http://www.call5.impact-karnataka.org" target="_blank">Grand Challenge Karnataka'18</a> for
                its innovative idea to reduce the traffic congestion problems in Bengaluru.</p>
            </div>
            </div>
    </div>

</div>

{% endblock %}
