{% extends "layout.njk" %}


{% block left %}
{% include "partials/left-main.njk" %}
{% endblock %}

{% block content %}
{% import 'macros/nav-macro.njk' as nav %}
{{nav.active('contact')}}

<div class="contact main l2">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="title">Contact</h1>
        <p class="text-center>Reach us at hello@chartr.in</p>
	<p class="text-center" style="padding-left: 80px">Pravesh Biyani : praveshb@iiitd.ac.in</p>
	<p class="text-center">Rajan Girsa : rajan15161@iiitd.ac.in</p>
	<p class="text-center">Atul : atul13025@iiitd.ac.in</p>
    </div>
</div>

{% endblock %}
