{% extends "layout.njk" %}


{% block left %}
{% import 'macros/left-macro.njk' as leftmacro%}
{{leftmacro.left_main()}}
{% endblock %}

{% block content %}
{% import 'macros/nav-macro.njk' as nav %}
{{nav.active('contact')}}

<div class="contact main l2">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="title">Contact</h1>
    </div>
</div>

{% endblock %}
