{% extends "layout.njk" %}


{% block left %}
{% include "partials/left-main.njk" %}
{% endblock %}

{% block content %}

<!-- Creating the navigation with activePage = 'home' -->
{% import 'macros/nav-macro.njk' as nav %}

{{nav.active('home')}}

    <div class="col-md-8 col-md-offset-2">
        <h1 class="title">About Us</h1>
    </div>
    <div class="col-md-10 col-md-offset-1 l3 text-left">

{#        <div class="col-md-7 content">#}
            <p style="word-break: keep-all;">We are a group of people who work with data and make the most out of it.
                Targeting the central problems of traffic, breakdowns and bus availability, we utilize data that solves one of the most important problems for major cities.
                Deriving data, applying our algorithms and representing it in the most effective manner is our goal!
{#        </div>#}
    </div>

<div class="home main l2">
    <div class="col-md-8 col-md-offset-2">
            <h1 class="title" style="margin-left: 25px;">What's New?</h1>
    </div>
{#    <div class="col-md-10 col-md-offset-1 l3 text-center">#}
{#        <div class="col-md-5 img-box">#}
{#            <img src="static/img/route.png"/>#}
{#        </div>#}

{#    </div>#}

    <div class="col-md-10 col-md-offset-1 l3" style="padding-top: 20px">
        <div class="col-md-5 img-box">
            <img src="static/img/delhigovt.png"/>
        </div>

        <div class="text">
            <div class="headline">
                <p style="text-align: left;"><b>Fight against Coronavirus</b></p>
                <div class="paragraph-text">
                    <p class="row" style="text-align: left; word-break: keep-all; word-wrap: break-word">Dr. Pravesh Biyani part of Technology Innovation Group for fight against COVID-19 by Delhi Government <small><a href="static/img/office_order.jpeg" target="_blank" style="color: blue">[click here]</a></small>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 col-md-offset-1 l3" style="padding-top: 20px">
        <div class="col-md-5 img-box">
            <img src="static/img/chartr.svg"/>
        </div>

        <div class="text">
            <div class="headline">
                <p style="text-align: left;"><b>Chartr App</b></p>
                <div class="paragraph-text">
                    <p class="row" style="text-align: left; word-break: keep-all; word-wrap: break-word">An app that shows you the ETA for the public transport in Delhi! <small><a href="https://play.google.com/store/apps/details?id=in.chartr.transit&hl=en" target="_blank" style="color: blue">[click here]</a></small>
                </div>
            </div>
        </div>
    </div>

{#    <div class="col-md-10 col-md-offset-1 l3">#}
{#        <div class="col-md-5 img-box">#}
{#            <img src="static/img/check.png"/>#}
{#        </div>#}

{#        <div class="text">#}
{#            <div class="headline">#}
{#                <p style="text-align: left;"><b>MyBus</b></p>#}
{#                <div class="paragraph-text">#}
{#                    <p class="row" style="text-align: left; word-break: keep-all; word-wrap: break-word">An app that shows you the ETA for the public transport in Delhi! <small>[click here]</small></p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

{#    </div>#}

	<div class="col-md-10 col-md-offset-1 l3 text-center">
        <div class="col-md-5 img-box">
            <img src="static/img/orangebus.png"/>
        </div>
        <div class="text">
            <div class="headline">
                <p style="text-align: left;"><b>MyBus</b></p>
                <div class="paragraph-text">
                    <p class="row" style="text-align: left; word-break: keep-all; word-wrap: break-word">A web application displaying the real-time location of buses in Delhi with filters based on routes and registration numbers  <small><a href="https://mybus.chartr.in/" target="_blank" style="color: blue">[click here]</a></small>
                        <!doctype html>
                        <html lang="en">
                        <head>
                            <meta charset="UTF-8">
                            <meta name="viewport"
                                  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                            <meta http-equiv="X-UA-Compatible" content="ie=edge">
                            <title>Document</title>
                        </head>
                        <body>
                        
                        </body>
                        </html></p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
