{% extends "layout.njk" %}


{% block left %}
{% include "partials/left-main.njk" %}
{% endblock %}

{% block content %}

<!-- Creating the navigation with activePage = 'home' -->
{% import 'macros/nav-macro.njk' as nav %}

{{nav.active('home')}}

<div class="home main l2">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="title">Shared Office Commute</h1>
    </div>
    <div class="col-md-10 col-md-offset-1 l3 text-center">
        <div class="col-md-5 img-box">
            <img src="static/img/route.png"/>
        </div>
        <div class="col-md-7 content">
            Routes optimised for shortest travel time.
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1 l3">
        <div class="col-md-5 img-box">
            <img src="static/img/clock.png"/>
        </div>
        <div class="col-md-7 content">Schedule tailored for you.</div>
    </div>
    <div class="col-md-10 col-md-offset-1 l3">
        <div class="col-md-5 img-box">
            <img src="static/img/check.png"/>
        </div>
        <div class="col-md-7 content">Find a seat, every time.</div>
    </div>
</div>
<div class="home main l2">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="title">How It Works?</h1>
    </div>
    <div class="col-md-10 col-md-offset-1 l3 text-center">
        <iframe class="yt_video embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/U19VAIGUX6M?start=1" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <!--<iframe " src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>-->
    </div>
</div>
{% endblock %}
