{% extends "layout.njk" %}


{% block left %}
{% include "partials/left-main.njk" %}
{% endblock %}

{% block content %}

<!-- Creating the navigation with activePage = 'home' -->
{% import 'macros/nav-macro.njk' as nav %}

{{nav.active('home')}}

    <div class="col-md-8 col-md-offset-2">
        <h1 class="title">About Us</h1>
    </div>
    <div class="col-md-10 col-md-offset-1 l3 text-left">

{#        <div class="col-md-7 content">#}
            <p style="word-break: keep-all;">We are a group of people who work with data and make the most out of it.
                Targeting the central problems of traffic, breakdowns and bus availability, we utilize data that solves one of the most important problems for major cities.
                Deriving data, applying our algorithms and representing it in the most effective manner is our goal!
{#        </div>#}
    </div>

<div class="home main l2">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="title">What's New?</h1>
    </div>
    <div class="col-md-10 col-md-offset-1 l3 text-center">
{#        <div class="col-md-5 img-box">#}
{#            <img src="static/img/route.png"/>#}
{#        </div>#}

    </div>
    <div class="col-md-10 col-md-offset-1 l3" style="padding-top: 20px">
        <div class="col-md-5 img-box">
            <img src="static/img/clock.png"/>
        </div>
        <div class="col-md-7 content">Schedule tailored for you.</div>
    </div>
    <div class="col-md-10 col-md-offset-1 l3">
        <div class="col-md-5 img-box">
            <img src="static/img/check.png"/>
        </div>
        <div class="col-md-7 content">Find a seat, every time.</div>
    </div>

	<div class="col-md-10 col-md-offset-1 l3 text-center">
        <div class="col-md-5 img-box">
            <img src="static/img/route.png"/>
        </div>
        <div class="col-md-7 content">
            Routes optimised for shortest travel time.
        </div>
    </div>

</div>
{% endblock %}
