{% extends "layout.njk" %}

{% block left %}
{% include "partials/left-main.njk" %}
{% endblock %}

{% block content %}

<!-- Creating the navigation with activePage = 'home' -->
{% import 'macros/nav-macro.njk' as nav %}

{{nav.active('about')}}

<div class="about main l2">
    <!--div class="col-md-8 col-md-offset-2">
        <h1 class="title">About</h1>
        <div class="col-md-10 col-md-offset-1">
            <p class="elements">Chartr is an innovative approach to make office commutes convenient and affordable. Our
                data driven collaboration platform works with BMTC, private operators and cabs to deliver customized
                routes, assured seats and low prices.<br></p>
            <p style="margin-top:30px;font-size:22px;" id="elements"><b>Why Us.</b></p>
            <div style="margin-top:16px;">
                <p class="elements" style="line-height: 32px;
"><b>*</b> Customized routes<br></p>
                <p class="elements" style="line-height: 32px;
"><b>*</b> Flexible timings<br></p>
                <p class="elements" style="line-height: 32px;
"><b>*</b> Near door to door transport<br></p>
                <p class="elements" style="line-height: 32px;
"><b>*</b> Cheaper than pool commute<br></p>
            </div>
        </div-->

        <div class="col-md-12 team text-center" style="margin-top: 20px">
            <h1 class="title" style="margin-top: 20px">Our Team</h1>
            <div class="col-md-6 "style="padding:24px;">
                <img src="static/img/team/t1.png" alt="Pravesh Biyani" class="img-circle">
                <p class="elements"style="text-align:center">Pravesh Biyani<br>IIT-B, IIIT-D</p>
            </div>
            <!--div class="col-md-6"style="padding:24px;">
                <img src="static/img/team/t2.png" alt="V Ramachandran" class="img-circle">
                <p class="elements"style="text-align:center">V Ramachandran
                    <br>IIM-A</p>
            </div-->
            <!--div class="col-md-6"style="padding:24px;">
                <img src="static/img/team/t4.png"alt="Srinivas Chakravarthy" class="img-circle">
                <p class="elements"style="text-align:center">Srinivas C.
                    <br>Purdue, IIM-B</p>
            </div-->
            <div class="col-md-6"style="padding:24px;">
                <img src="static/img/team/t3.png"alt="Atul Jain" class="img-circle">
                <p class="elements"style="text-align:center">Atul Jain
                    <br>IIIT-D</p>
            </div>

		<div class="col-md-6"style="padding:24px;">
                <img src="static/img/team/rajan.jpg"alt="Atul Jain" class="img-circle">
                <p class="elements"style="text-align:center">Rajan Girsa
                    <br>IIIT-D</p>
            </div>
		
		<div class="col-md-6"style="padding:24px;">
                <img src="static/img/team/kshitij.jpg"alt="Atul Jain" class="img-circle">
                <p class="elements"style="text-align:center">Kshitij
                    <br>IIIT-D</p>
            </div>

	
		<div class="col-md-6"style="padding:24px;">
                <img src="static/img/team/aakash.jpg"alt="Atul Jain" class="img-circle">
                <p class="elements"style="text-align:center">Aakash
                    <br>IIIT-D</p>
            </div>

		<div class="col-md-6"style="padding:24px;">
                <img src="static/img/team/srija.jpg"alt="Atul Jain" class="img-circle">
                <p class="elements"style="text-align:center">Srija Anand
                    <br>IIIT-D</p>
            </div>

		<div class="col-md-6"style="padding:24px;">
                <img src="static/img/team/ojas.jpg"alt="Atul Jain" class="img-circle">
                <p class="elements"style="text-align:center">Ojas Saxena
                    <br>IIIT-D</p>
            </div>

		<div class="col-md-6"style="padding:24px;">
                <img src="static/img/team/raashid.jpg"alt="Atul Jain" class="img-circle">
                <p class="elements"style="text-align:center">Raashid Tak
                    <br>IIIT-D</p>
            </div>

		

		

        </div>
    </div>


</div>

{% endblock %}
