{% extends "layout.njk" %}

{% block left %}
{% include "partials/left-main.njk" %}
{% endblock %}

{% block content %}

<!-- Creating the navigation with activePage = 'home' -->
{% import 'macros/nav-macro.njk' as nav %}

{{nav.active('press')}}

<div class="press main l2">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="title">Press</h1>
    </div>
    <div class="col-md-5 col-md-offset-1 l3 text-center">
        <a href="https://timesofindia.indiatimes.com/city/delhi/track-your-bus-for-free-as-gps-feeds-go-live/articleshow/66778621.cms">
            <img class="img-light-8" src="static/img/press/toi.png"/>
            <p>Delhi: Track your bus for free as GPS feeds go live</p>
        </a>
    </div>

    <div class="col-md-5 l3 text-center">
        <a href="https://www.livemint.com/Companies/BMLCqijpciG2OWNhi09yhI/IIIT-Delhi-Cornell-University-test-new-transport-management.html">
            <img class="bggrey img-light-7" src="static/img/press/livemint.png"/>
            <p>IIIT-Delhi, Cornell University test new transport management system.</p>
        </a>
    </div>

    <div class="col-md-5 col-md-offset-3 l3 text-center">
        <a href="https://www.firstpost.com/india/delhi-metros-magenta-line-set-to-ease-connectivity-but-holistic-solution-needed-to-tackle-congestion-woes-4488419.html">
            <img class="img-light" src="static/img/press/firstpost.png"/>
            <p>Delhi Metro's Magenta Line set to ease connectivity but holistic solution needed to tackle congestion woes.</p>
        </a>
    </div>


</div>

{% endblock %}
