{% extends "layout.njk" %}

{% block left %}
{% include "partials/left-main.njk" %}
{% endblock %}

{% block content %}

<!-- Creating the navigation with activePage = 'projects' -->
{% import 'macros/nav-macro.njk' as nav %}

{{nav.active('projects')}}

<div class="home main l2" style="padding-top: 30px">
    <div class="col-md-10 col-md-offset-1 l3 text-center">
        <div class="col-md-5 img-box">
            <img src="static/img/data_trust.png" style="padding-bottom: 80px"/>
        </div>
        <div class="text">
            <div class="headline">
                <p style="text-align: left;"><b>Data Trust</b></p>
                <div class="paragraph-text">
                    <p class="row" style="text-align: left; word-break: keep-all; word-wrap: break-word">A framework through which urban mobility data collected by public transit
                        agencies in Delhi and states across India can be made publicly accessible in a manner which gives transit agencies control over their data.

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1 l3">
        <div class="col-md-5 img-box">
            <img src="static/img/breakdown.png" style="padding-bottom: 60px"/>
        </div>
        <div class="text">
            <div class="headline">
                <p style="text-align: left;"><b>PCRA Report</b></p>
                <div class="paragraph-text">
                    <p class="row" style="text-align: left; word-break: keep-all; word-wrap: break-word">The aim of this project is to study the impact of the breakdown of public transport buses on traffic and fuel costs due to congestion with the help of machine learning models and thresholding techniques.<small><a href="https://docs.google.com/document/d/1UuI_Mfb09Zww37wMq-us9n577HBEdNm4CoEEuCGH7E4/edit" target="_blank" style="color: blue">[click here]</a></small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1 l3">
        <div class="col-md-5 img-box">
            <img src="static/img/opendata.png" style="padding-bottom: 60px"/>
        </div>
        <div class="text">
            <div class="headline">
                <p style="text-align: left;"><b>Open Data</b></p>
                <div class="paragraph-text">
                    <p class="row" style="text-align: left; word-break: keep-all; word-wrap: break-word">

                </div>
            </div>
        </div>
    </div>

	<div class="col-md-10 col-md-offset-1 l3 text-center">
        <div class="col-md-5 img-box">
            <img src="static/img/lastmile.png"  style="padding-bottom: 60px"/>
        </div>
        <div class="text">
            <div class="headline">
                <p style="text-align: left;"><b>Last Mile</b></p>
                <div class="paragraph-text">
                    <p class="row" style="text-align: left; word-break: keep-all; word-wrap: break-word">

                </div>
            </div>
        </div>
    </div>

	<div class="col-md-10 col-md-offset-1 l3 text-center">
        <div class="col-md-5 img-box">
            <img src="static/img/airquality_2.png" style="padding-bottom: 60px"/>
        </div>
        <div class="text">
            <div class="headline">
                <p style="text-align: left;"><b>DST Air Quality</b></p>
                <div class="paragraph-text">
                    <p class="row" style="text-align: left; word-break: keep-all; word-wrap: break-word">The aim of this project is to create a system of vehicle-mounted sensors that performs accurate air quality sensing.

                </div>
            </div>
        </div>
    </div>

	<div class="col-md-10 col-md-offset-1 l3 text-center">
        <div class="col-md-5 img-box">
            <img src="static/img/airquality_1.png" style="padding-bottom: 60px"/>
        </div>
        <div class="text">
            <div class="headline">
                <p style="text-align: left;"><b>Imprint moving air quality</b></p>
                <div class="paragraph-text">
                    <p class="row" style="text-align: left; word-break: keep-all; word-wrap: break-word">

                </div>
            </div>
        </div>
    </div>

	<div class="col-md-10 col-md-offset-1 l3 text-center">
        <div class="col-md-5 img-box">
            <img src="static/img/congestion.png" style="padding-bottom: 60px"/>
        </div>
        <div class="text">
            <div class="headline">
                <p style="text-align: left;"><b>Bangalore Congestion</b></p>
                <div class="paragraph-text">
                    <p class="row" style="text-align: left; word-break: keep-all; word-wrap: break-word">

                </div>
            </div>
        </div>
    </div>

	<div class="col-md-10 col-md-offset-1 l3 text-center">
        <div class="col-md-5 img-box">
            <img src="static/img/route.png" style="padding-bottom: 60px"/>
        </div>
        <div class="text">
            <div class="headline">
                <p style="text-align: left;"><b>Yatra</b></p>
                <div class="paragraph-text">
                    <p class="row" style="text-align: left; word-break: keep-all; word-wrap: break-word">

                </div>
            </div>
        </div>
    </div>

	<div class="col-md-10 col-md-offset-1 l3 text-center">
        <div class="col-md-5 img-box">
            <img src="static/img/analysis.png" style="padding-bottom: 60px"
            />
        </div>
        <div class="text">
            <div class="headline">
                <p style="text-align: left;"><b>DIMTS Analysis Tool</b></p>
                <div class="paragraph-text">
                    <p class="row" style="text-align: left; word-break: keep-all; word-wrap: break-word">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
