{% extends "layout.njk" %}

{% block left %}
{% include "partials/left-main.njk" %}
{% endblock %}

{% block content %}

<!-- Creating the navigation with activePage = 'publications' -->
{% import 'macros/nav-macro.njk' as nav %}

{{nav.active('publications')}}

<div class="home main l2">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="title">Our Publications</h1>
    </div>
    <div class="col-md-10 col-md-offset-1 l3 text-center">
        <div class="col-md-5 img-box">
	<a href="https://dblp.org/rec/journals/tcom/RajB19">
            <img src="static/img/book.png" style="padding-top:25px"/>
        </div>
        <div class="col-md-7 content">
	<p style = "font-size:12px;"><u>Ankita Raj, Pravesh Biyani</u>
            <p style = "font-weight:bold">Weighted-A* Based Energy Efficient Resource Allocation in G.Fast.</p>
        </div>
    </div>

    <div class="col-md-10 col-md-offset-1 l3" style="padding-top:20px">
        <div class="col-md-5 img-box">
	<a href="https://dblp.org/rec/conf/icassp/CharulBBR19">
            <img src="static/img/book.png" style="padding-top:25px"/>
        </div>
        <div class="col-md-7 content">
	<p style = "font-size:12px; font-weight:100"><u>Charul, Uttkarsha Bhatt, Pravesh Biyani, Ketan Rajawat</u>
	<p style = "font-weight:bold">Online Variational Bayesian Subspace Filtering.</div>
    </div>

    <div class="col-md-10 col-md-offset-1 l3">
        <div class="col-md-5 img-box">
	<a href="">
            <img src="static/img/book.png" style="padding-top:25px"/>
        </div>
        <div class="col-md-7 content">
	<p style = "font-size:12px; font-weight:100"><u>Saatvik Jain, Pravesh Biyani</u>
	<p style = "font-weight:bold">Improved Real Time Ride Sharing via Graph Coloring.</p>
	</div>
    </div>



        <div class="col-md-10 col-md-offset-1 l3 text-center">
        <div class="col-md-5 img-box">
	<a href="https://dblp.org/rec/conf/itsc/PaliwalB19">
            <img src="static/img/book.png" style="padding-top:25px"/>
        </div>
        <div class="col-md-7 content">
		<p style = "font-size:12px; font-weight:100"><u>Charul Paliwal, Pravesh Biyani</u>
            <p style = "font-weight:bold">To each route its own ETA: A generative modeling framework for ETA prediction.</p>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1 l3">
        <div class="col-md-5 img-box">
	<a href="https://dblp.org/rec/journals/corr/abs-1910-08903">
            <img src="static/img/book.png" style="padding-top:25px"/>
        </div>
        <div class="col-md-7 content">
	<p style = "font-size:12px; font-weight:100"><u>Anubhav Jain, Avdesh Kumar, Saumya Balodi, Pravesh Biyani</u>
	<p style = "font-weight:bold">Benchmark Dataset for Timetable Optimization of Bus Routes in the City of New Delhi.</p>
	</div>
    </div>
    <div class="col-md-10 col-md-offset-1 l3">
        <div class="col-md-5 img-box">
	<a href="https://dblp.org/rec/journals/tcom/AhujaBP18">
            <img src="static/img/book.png" style="padding-top:25px"/>
        </div>
        <div class="col-md-7 content" style="padding-top: 20px">
	<p style = "font-size:12px; font-weight:100"><u>Ramanjit Ahuja, Pravesh Biyani</u>
	<p style = "font-weight:bold">Low Complexity Training Methods for Common Mode Aided Cancellation of Intermittent Alien Noise in Downstream VDSL.</p>
	</div>
    </div>

	
        

</div>
{% endblock %}
