{% extends "layout.njk" %}

{% block content %}

<!-- Creating the navigation with activePage = 'home' -->
{% import 'macros/nav-macro.njk' as nav %}

{{nav.active('routes')}}

<h2>Routes</h2>

{% endblock %}
