{% extends "layout.njk" %}

{% block left %}

<img class="map" src="static/img/left-map.png">
{% endblock %}

{% block content %}

<!-- Creating the navigation with activePage = 'home' -->
{% import 'macros/nav-macro.njk' as nav %}

{{nav.active('routes')}}
<div class="clients main l2">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="title">Routes</h1>
    </div>

    <div class="col-md-4 col-md-offset-4 l3 text-center">
        These are few of our current routes. New routes coming soon.
    </div>

</div>
{% endblock %}
