
html, body {
    height: 100%;
}

body {
    color: #aaa;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
}

p, a, div {
    font-size: 18px;

}
a {
    text-decoration: none;
}

.reach-us a {
    text-decoration: none;
    color: #fff;
}

.active {
    font-weight: 700;
}

.l1-left {
    position: fixed;
    left: 0;

    height: 100%;
    overflow: hidden;
    background-color: #FAFAFA;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    /*whatever width you want*/
}

.l1-left .info {
    margin-bottom: 80px;
    margin-top: 80px;
    font-size: 20px;
}

.l1-left .reach-us {
    background-color: #0A14C5;
    color: #fff;
    font-size: 18px;
}

.l1-left footer {
    width: 100%;
    position: absolute;
    bottom: 10px;
}

/* L1 Right */

.l1-right {
    position: absolute;
    right: 0;
    height: 100%;
    background-color: #ffffff;
    color: #575656;
}

.l1-right * {
    color: #575656;
}

.l1-right .navbar-nav {
    margin-top: 40px;
    width: 100%;
    text-align: center;
}

.l1-right .navbar-nav > li {
    float: none;
    display: inline-block;
}

.l1-right > div {
    /*background-color: #FAFAFA;*/
    /*height: 200px;*/
    /*margin-bottom: 20px;*/
}

.home.main {
    text-align: center;
}

.title {
    padding: 12px;
    margin-bottom: 40px;
    margin-top: 40px;
    opacity: 0.9;
    font-size: 56px;
    font-weight: 700;
    color: #575656;
    letter-spacing: 1.6px;
    line-height: 60px;
}

.home.main img {
    width: 80px;
}

.home.main .content {
    height: 100px;
    padding-top: 20px;
    vertical-align: middle;
    text-align: justify;
    padding-left: 40px;

}

.home.main .l3 {
    margin-top: 10px;
    margin-bottom: 40px;
}

.l1 {
    overflow: hidden;

}
.l1-left{
    padding: 0;
}

.l1-left .map {
    display: block;
    margin: 0;
    width: 120%;
}

.clients img {
    width: 120px;
}

.clients img.nagra {
    opacity: 0.5;
}

.clients .l3{
    padding-bottom: 36px;
    padding-top: 36px;
}

.partners img {
    width: 140px
}
.partners .l3{
    padding-bottom: 36px;
    padding-top: 36px;
}
.img-light {
    opacity: 0.5;
}

.img-light-7 {
    opacity: 0.7;
}
.img-light-8 {
    opacity: 0.8;
}
.img-light-9 {
    opacity: 0.9;
}

.about .elements {
    text-align: justify;
}
.about img {
    padding: 10px;
}

.about .team p{
    padding: 20px;
}

/* home */
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

@media only screen and (max-width: 768px) {
    .l1-left {
        position: relative;
    }

    .l1-right {
        position: relative;
    }

    .home.main .content {
        text-align: center;
    }
}
