
html, body {
    height: 100%;
}

body {
    color: #aaa;

}

.l1-left {
    position: fixed;
    left: 0;

    height: 100%;
    overflow: hidden;
    background-color: #FAFAFA;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    /*whatever width you want*/
}

.l1-left .info {
    margin-bottom: 80px;
    margin-top: 80px;
}

.l1-left .reach-us {
    background-color: #0A14C5;
    color: #fff;
}

.l1-left footer {
    width: 100%;
    position: absolute;
    bottom: 10px;
}

/* L1 Right */

.l1-right {
    position: absolute;
    right: 0;

    height: 100%;
    background-color: #ffffff;
    color: #575656;
}

.l1-right * {
    color: #575656;
}

.l1-right .navbar-nav {
    margin-top: 40px;
    width: 100%;
    text-align: center;
}

.l1-right .navbar-nav > li {
    float: none;
    display: inline-block;
    font-size: 16px;
}

.l1-right > div {
    background-color: #FAFAFA;
    height: 200px;
    margin-bottom: 20px;
}


/* home */
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}


@media only screen and (max-width: 768px) {
    .l1-left{
        position: relative;
    }
    .l1-right{
        position: relative;
    }
}
