<div class="text-center">
    <div class="outer">
        <div class="middle">
            <div class="inner">

                <a href="/">
                    <img src="static/img/chartr.svg" class="logo" height="160" width="auto" style="padding-top: 20px; margin-top:10px">
                </a>
		<div class="col-md-8 col-md-offset-2">
			<p class="title" style="font-size: 30px; font-weight:bold"; margin-bottom:10px;>Mobility and Optimization Lab</p>
		    </div>
                <div class="clearfix"></div>
                
                <!--<button class="btn reach-us"><a href="/contact">Reach Us</a></button>-->
                <!--button type="button" class="reach-us btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
                    Ask
                    for BMTC Route.
                </button-->
                <div class="clearfix"></div>
                <div class="col-md-12"><p>Reach us at :  <a href="mailto:hello@chartr.in">praveshb@iiitd.ac.in</a></p></div>
		
{#		        <div class="col-md-12"><a href="mailto:hello@chartr.in">atul13025@iiitd.ac.in</a></div>#}
		
                <div class="col-md-12" style="padding-top:10px;">&copy; 2019 Chartr</div>
                <div class="col-md-12"><p><a style="color: inherit; font-size: 14px;" href="/privacy-policy">Privacy Policy</a></p></div>

            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <!--<div class="text-center col-md-12">-->
    <!--<div class="col-md-6"><p>Reach us at <a href="mailto:hello@chartr.in">hello@chartr.in</a></p></div>-->
    <!--<div class="col-md-6">&copy; 2018 Chartr</div>-->
    <!--</div>-->
</div>
