<div class="text-center">
    <div class="outer">
        <div class="middle">
            <div class="inner">

                <a href="/">
                    <img src="static/img/chartr_logo_v.png" class="logo" height="160" width="auto">
                </a>
                <div class="clearfix"></div>
                <div class="info col-md-12 text-justify">
                    <p class="mid-text">Chartr provides commute services to corporate employees. </p>
                    <div class="clearfix"></div>
                    <p class="mid-text">Our rides guarantee flexibility on routes, assured seating and travel times of a
                        direct
                        route.</p>
                </div>
                <!--<button class="btn reach-us"><a href="/contact">Reach Us</a></button>-->
                <button type="button" class="reach-us btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
                    Ask
                    for BMTC Route.
                </button>
                <div class="clearfix"></div>
                <div class="col-md-12"><p>Reach us at <a href="mailto:hello@chartr.in">hello@chartr.in</a></p></div>
                <div class="col-md-12">&copy; 2018 Chartr</div>
                <div class="col-md-12"><p><a style="color: inherit; font-size: 14px;" href="/privacy-policy">Privacy Policy</a></p></div>

            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <!--<div class="text-center col-md-12">-->
    <!--<div class="col-md-6"><p>Reach us at <a href="mailto:hello@chartr.in">hello@chartr.in</a></p></div>-->
    <!--<div class="col-md-6">&copy; 2018 Chartr</div>-->
    <!--</div>-->
</div>
