<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Chartr | Employee Transportation Services</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="static/img/apple-touch-icon.png">

    <!--build:css static/css/main.min.css-->
    <link href="https://fonts.googleapis.com/css?family=Rubik,Karla" rel="stylesheet">
    <link rel="stylesheet" href="static/css/lib/normalize.css">
    <link rel="stylesheet" href="static/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/layout.css">
    <!--endbuild-->
</head>

<body>


<div class="col-md-5 l1-left">
    {% block left %}{% endblock %}
</div>

<div class="col-md-7 l1-right">

    <!-- Right Block Content-->
    {% block content %} {% endblock %}
</div>

<!--build:js static/js/main.min.js -->
<script src="static/js/lib/jquery.min.js"></script>
<script src="static/js/lib/bootstrap.min.js"></script>

<!-- endbuild -->


</body>
</html>
